@model TrashCollector.Models.Pickups

@{
    ViewBag.Title = "Cancel Pickup";
}

<h2>Cancel Pickup</h2>

<h3>Are you sure you want to cancel this pickup?</h3>
<div>
    <h4>Pickup</h4>
    <hr />
    @Html.HiddenFor(model => model.ID)
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PickupDay)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PickupDay)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address.Address1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address.Address1)
        </dd>
        @if (Model.Address.Address2 != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model.Address.Address2)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Address.Address2)
            </dd>
        }
        <dt>
            @Html.DisplayNameFor(model => model.Address.Zipcode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address.Zipcode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsCompleted)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsCompleted)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "List")
        </div>
    }
</div>
