@model TrashCollector.Models.Customer

@{
    ViewBag.Title = "Pickup Details";
}

<h2>Pickup Details</h2>

<div>
    <h4>Details about Pickup</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address.Address1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address.Address1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address.Address2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address.Address2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address.Zipcode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address.Zipcode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pickups.PickupDay)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pickups.PickupDay)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pickups.IsCompleted)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pickups.IsCompleted)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
