@model TrashCollector.Models.ViewModel
@{
    ViewBag.Title = "Welcome Page";
}
<body>
    <center>
        @if (ViewBag.displayMenu == "Admin")
        {
            <h1> Admin Login Successful, Welcome. </h1>
            <h3> Manage Roles Below </h3>
            <div class="row">
                @Html.ActionLink("Home", "_Index", "Trash", new { area = "" }, new { @class = "btn btn-default" })
                @Html.ActionLink("Roles (Coming Soon)", "_Index", "Trash", new { area = "" }, new { @class = "btn btn-default" })
            </div>
        }
        else if (ViewBag.displayMenu == "Employee")
        {
            <h1> Employee Login Successful, Welcome </h1>
            <h3> Select what it is you'd like to do. </h3>
            <div class="row">
                @Html.ActionLink("Home", "_Index", "Trash", new { area = "" }, new { @class = "btn btn-default" })
                @Html.ActionLink("Pickups", "DisplayPickups", "Employee", new { area = "" }, new { @class = "btn btn-default" })
                @Html.ActionLink("Map Route", "MapRoute", "Employee", new { area = "" }, new { @class = "btn btn-default" })
            </div>
        }
        else if (ViewBag.displayMenu == "Customer")
        {
            <h1> Customer Login Successful, Welcome </h1>
            <h3> Select what it is you'd like to do. </h3>

            <div class="row">
                @Html.ActionLink("Home", "_Index", "Trash", new { area = "" }, new { @class = "btn btn-default" })
                @Html.ActionLink("Pickups", "PickupDetails", "Customer", new { area = "" }, new { @class = "btn btn-default" })
                @Html.ActionLink("Extra Pickups", "_Index", "Customer", new { area = "" }, new { @class = "btn btn-default" })
            </div>
        }
        else
        {
            <h1> Welcome </h1>
            <h3> Role not assigned, contact your administrator about role assignment. </h3>

            <div class="row">
                @Html.ActionLink("Home", "_Index", "Trash", new { area = "" }, new { @class = "btn btn-default" })
            </div>
        }
    </center>
</body>

